
#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-right: 5%;
    margin-top: 7%;
}
#start_menu_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_text{
    color: #eee;
    background-color: rgb(19, 17, 17, 0.8);
    border-radius: 3px;
    padding: 1px;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px #000;
    min-width: 80px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
}
#game_over{
    background-color: rgb(19, 17, 17, 0.8);
    padding: 3px;
    margin-right: 20px;
    border-radius: 3px;
    color: red;
    font-size: 30px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    /* max-width: 300px; */
}
#game_and_score{
    display: flex;
    justify-content: space-between;
}
#inGameMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}
#inGameMenu > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
    
button {
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding: 10px;
    margin: 2px;
    /* background: #32557f; */
    display: inline-block;
    color: black;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    background-image: url(https://mortezar.github.io/Countin-Chickens/images/Button_Back.jpg);
    background-size: 80px;
}
.selected{
    height: 100px;
    width: 100px;
    background-size: 100px;
    /* background-color: white; */
    color: black;
}
#inputField{
    width: 125px;
    height: 40px;
    text-align: center;
    background-color: rgb(218, 196, 196, 0.3);
    box-shadow: 0 0.5rem 0.8rem #00000080;
    font-size: 30px;
}

ul li{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: inherit;
    display: flex;
    padding: 5px;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-right: 5%;
    color: #eee;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 2px 4px #00000080;
    /* box-shadow: 0 0.5rem 0.8rem #00000080; */
}
.logo{
  height: 80px;
  width: 80px;
  margin: 20px;
  
}
#about-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.span1{
    display: flex;
    align-items: center;
    min-width: 50px;
}
.span2{
    width: 100%;
    font-size: 30px;
    margin-right: 50px;
    border-style: dashed;
    border-width: 1px;
    padding: 3px;
    padding-left: 15px;
}


body {
  background-image: url(https://mortezar.github.io/Countin-Chickens/images/Checker_Background.png);
  font-family: "Lato", sans-serif;
}

.warpper {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  margin-right: 60px;
  position: fixed;
  right: 0;


}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #32557f;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.panels {
  background: #fff;
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.panel-content {
    margin-top: 4px;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  background: #fff;
  color: #000;
  border-top: 3px solid #32557f;
}

.couting_chickens_logo{
  height: 200px;
  position: absolute;
  /* margin: 70px; */
  margin-top: -40px;
  margin-left: 200px;
}
.instructions_image{
  height: 450px;
  margin: 10px;
  /* display: flex;
  justify-content: space-between; */
}
#instructions{
  display: flex;
  justify-content: center;
  position: absolute;
  /* margin-right: 60%; */
  margin-top: 300px;
}